    @font-face {
      font-family: 'Londrina Outline';
      src: url('../Schriftarten/LondrinaOutline-Regular.ttf') format('truetype');
    }

    body {
      max-width: 600px; /* Maximale Breite des Inhalts */
      margin: 0 auto; /* Zentriert den Inhalt horizontal */
      padding: 20px; /* Fügt Abstand zwischen dem Inhalt und dem Rand hinzu */
      background-color: #000000;
      color: #ddbb88;
    }

    h1, h2, h3 {
      font-family: 'Londrina Outline', sans-serif;
    }
