/* Darstellungsregeln für große, waagerechte Anzeigen                    */
@media screen
and (min-height: 512px)
and (orientation: landscape) {
  /* CSS-Regeln für Desktop-Ansicht hier */
body {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

/*   ~ ~ ~~ ~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~~~~~ ~~~~~~~~ ~~~~~ ~~~ ~~ ~ ~   */
