/* Projektspezifische Darstellungsregeln für Lernprojekte.github.io  */
body {
  max-width: 580px; /* Maximale Breite des Inhalts */
  margin: 0 auto; /* Zentriert den Inhalt horizontal */
  padding: 20px; /* Fügt Abstand zwischen dem Inhalt und dem Rand hinzu */
}



/* ~ ~ ~~ ~~~ ~~~~~ ~~~~~~~~ ~~~~~~~~~~~~~ ~~~~~~~~ ~~~~~ ~~~ ~~ ~ ~ */
